<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <li class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item mt-2">
                Manage Accounts
            </a>
            <a class="dropdown-item">
                Change Password
            </a>
            <a class="dropdown-item">
                Sign Out
            </a>
        </li>
    </ul>
    <!-- End of Sidebar -->

</th:block>

</html>