<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h3 th:text="${title}"></h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>title</th>
                <th>price</th>
                <th>category</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prod : ${productList}" th:id="${prod.id}">
                <td th:text="${prod.title}">title</td>
                <td th:text="${prod.price}">price</td>
                <td th:text="${prod.category.title}">category</td>
            </tr>
            </tbody>

        </table>

    </div>
</th:block>
</html>