<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title> index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1>spring boot ecommerce</h1>
    <div class="col-md-12">
        <div class="row">
            <a href="/user/login" role="button" class = "btn btn-primary">로그인</a>
        </div>

    </div>

</body>
</html>
